[submodule "libs/mimalloc"]
	path = libs/mimalloc
	url = https://github.com/refresh-bio-dependencies/mimalloc
[submodule "libs/libdeflate"]
	path = libs/libdeflate
	url = https://github.com/refresh-bio-dependencies/libdeflate
[submodule "libs/zlib-ng"]
	path = libs/zlib-ng
	url = https://github.com/refresh-bio-dependencies/zlib-ng.git
[submodule "libs/isa-l"]
	path = libs/isa-l
	url = https://github.com/refresh-bio-dependencies/isa-l.git
